body {
    margin: 0px;
}

header {
    background-color: grey;
    height: 150px;
    width: 100%;
}

#main-body {
    background-color: white;
    display: flex;
    top: 150px;
    bottom: 0;
    height: fill;
    width: 100%;
    position: absolute;
    justify-content: space-between;

}


#left-bar {
    background-color: lightgray;
    width: 145px;
    height: fill;
    top: 150px;
    bottom: 0;
    z-index: 10;
}

#right-bar {
    background-color: lightgray;
    width: 145px;
    height: fill;
    top: 150px;
    bottom: 0;
    z-index: 10;
}

#bottom-bar {
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    
}